<section class="section">
    <div class="container">
        <h1 class="title">{{title}}</h1>
        <h2 class="subtitle">
            Page d'ajout des informations essentielles d'un <strong>job</strong>, localisation, contact, type de contract, etc
        </h2>
    </div>
</section>

<!-- Errors -->
{{#if errors }}
    <div class="notification is-warning">
        <ul>
        {{#each errors}}
            <li>{{this.msg}}</li>
        {{/each}}
        </ul>
    </div>
{{/if}}

<!-- Infos Générale -->
<form method="post" action="/jobs/submit">
    <div class="box">
        <h3 class="subtitle is-3">Employeur</h3>
        <!-- Employeur -->
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        <input class="input" type="text" name="name" value="{{values.name}}" placeholder="Text input">
                    </div>
                </div>
            </div>
            <!-- Site Web Employeur-->
            <div class="column">
                <div class="field">
                    <label class="label">Site Web Employeur</label>
                    <div class="control">
                        <input class="input" type="text" name="website" value="{{values.website}}" placeholder="Text input">
                    </div>
                </div>
            </div>
        </div>
        <!-- Intitule Job-->
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Intitule du Job *</label>
                    <div class="control">
                        <input class="input" type="text" name="jobTitle" value="{{values.jobTitle}}" placeholder="Text input">
                    </div>
                </div>
            </div>
            <!-- Url de l'Offre-->
            <div class="column">
                <div class="field">
                    <label class="label">Url de l'Offre *</label>
                    <div class="control">
                        <input class="input" type="text" name="jobUrl" value="{{values.jobUrl}}" placeholder="Text input">
                    </div>
                </div>
            </div>
        </div>
        <!-- Type Contract -->
        <div class="field">
            <label class="label">Type Contract</label>
            <div class="control">
                <div class="select">
                    <select name="contractType" id="contractType">
                        {{#select values.contractType}}
                        <option value="cdi">CDI</option>
                        <option value="cdd">CDD</option>
                        <option value="pfi">PFI</option>
                        <option value="other">Autres</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- Technologies -->
    <div class="box">
        <h3 class="subtitle is-3">Technologies</h3>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="technology" value="php">
                    Php
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="technology" value="html">
                    Html
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="technology" value="cpp">
                    C++
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="technology" value="css">
                    CSS 
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="technology" value="java">
                    Java 
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="technology" value="sql">
                    SQL 
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="technology" value="dotnet">
                    .NET 
                </label>
            </div>
        </div>
    </div>

    <!-- Compétences -->
    <div class="box">
        <h3 class="subtitle is-3">Compétences</h3>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="skill" value="analyse">
                    Analyse 
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="skill" value="test">
                    Tests
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="skill" value="teamworking"> 
                    Travail en équipe
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="skill" value="autonomy">
                    Autonomie
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="skill" value="writing">
                    Rédaction 
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="skill" value="english">
                    Anglais
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="skill" value="dutch">
                    Néerlandais 
                </label>
            </div>
        </div>
    </div>

    <!-- Adresse -->
    <div class="box">
        <h3 class="subtitle is-3">Adresse</h3>
        <!-- Rue -->
        <div class="field">
            <label class="label">Rue</label>
            <div class="control">
                <input class="input" type="text" name="street" value="{{values.street}}" placeholder="Text input">
            </div>
        </div>
        <!-- Numéro -->
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Numéro</label>
                    <div class="control">
                        <input class="input" type="text" name="number" value="{{values.number}}" placeholder="Text input">
                    </div>
                </div>
            </div>
            <!-- Boite -->
            <div class="column">
                <div class="field">
                    <label class="label">Boite</label>
                    <div class="control">
                        <input class="input" type="text" name="postalBox" value="{{values.postalBox}}" placeholder="Text input">
                    </div>
                </div>
            </div>
        </div>
        <!-- Code Postal-->
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Code Postal</label>
                    <div class="control">
                        <input class="input" type="text" name="postalCode" value="{{values.postalCode}}" placeholder="Text input">
                    </div>
                </div>
            </div>
            <!-- Ville -->
            <div class="column">
                <div class="field">
                    <label class="label">Ville</label>
                    <div class="control">
                        <input class="input" type="text" name="city" value="{{values.city}}" placeholder="Text input">
                    </div>
                </div>
            </div>
        </div>
        <!-- Pays -->
        <label class="label">Pays</label>
        <div class="control">
            <div class="select">
                <select name="country">
                    <option>Belgique</option>
                    <option>France</option>
                    <option>Luxembourg</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div class="box">
        <h3 class="subtitle is-3">Contact</h3>
        <!-- Nom -->
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        <input class="input" type="text" name="lastname" value="{{values.lastname}}" placeholder="Text input">
                    </div>
                </div>
            </div>
            <!-- Prenom -->
            <div class="column">
                <div class="field">
                    <label class="label">Prenom</label>
                    <div class="control">
                        <input class="input" type="text" name="firstname" value="{{values.firstname}}" placeholder="Text input">
                    </div>
                </div>
            </div>
        </div>
        <!-- Email -->
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="text" name="email" value="{{values.firstname}}" placeholder="Text input">
                    </div>
                </div>
            </div>
            <!-- Tel/Gsm -->
            <div class="column">
                <div class="field">
                    <label class="label">Tel/Gsm</label>
                    <div class="control">
                        <input class="input" type="text" name="gsm" value="{{values.gsm}}" placeholder="Text input">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Candidature -->
    <div class="box">
        <h3 class="subtitle is-3">Candidature</h3>
        <!-- Documents Candidatures -->
        <div class="field">
            <label class="label">Documents pour Postuler</label>
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="applicationDocument" value="cv">
                    CV
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="applicationDocument" value="motivation">
                    Lettre Motivation
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="applicationDocument" value="id">
                    Carte Identitée 
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="applicationDocument" value="certificate">
                    Certificat Bonne Vie et Moeurs
                </label>
            </div>
        </div>
        <!-- Date Limite -->
        <div class="field">
            <label class="label">Date Limite Candidature </label>
            <div class="control">
                <input class="input" type="text" name="deadline" value="{{values.deadline}}" placeholder="Text input">
            </div>
        </div>
    </div>

    <!-- Submit -->
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-text">Cancel</button>
        </div>
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
    </div>
</form>
